body { font-size:16px; font-family: arial; color = #000000; margin-top: 0in; margin-left: 0in ; margin-right: 0in; margin-bottom: 0in}
h1 {font-family:conga; color=#000000 }
h2 {font-family:conga; color=#800000 }
h3 {font-family:arial; color=#000080 }
h4 {font-family:arial; color=#000000 }
h5 {font-family:arial; color=#000000 }
a {font-family:arial; color=#000000 }
